<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>QTN Global</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/AdminLTE.css" />
  <link rel="stylesheet" href="css/blocks.css" />
  <link rel="stylesheet" href="css/cubeportfolio.min.css" />
  <link rel="stylesheet" href="css/custom-cubeportfolio.css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/footer-v7.css" />
  <link rel="stylesheet" href="css/line-icons.css" />
  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="css/owl.carousel.css" />
  <link rel="stylesheet" href="css/owl.theme.css" />
  <link rel="stylesheet" href="css/plugins.css" />
  <link rel="stylesheet" href="css/page1.css" />
  <link rel="stylesheet" href="css/app.css" />


</head>
<body>
<div>
  <div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
      <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div></div>
  <!--=== Header ===-->
  <nav class="one-page-header navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="menu-container page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="images/qtn.png" alt="Logo" style="width:50px;height:50px;float:left">
        <a class="navbar-brand" href="">
          <span>QTN</span> Global
        </a>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <div class="menu-container">
          <ul class="nav navbar-nav">
            <li class="page-scroll">
              <a href="" ng-click="goToExlore()">Explorer</a>
            </li>
            <li class="page-scroll">
              <a href="" ng-click="goToLogin()">Login</a>
            </li>
            <li class="page-scroll">
              <a href="" ng-click="goToRegister()">Sign up</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
  <!--=== End Header ===-->
  <!--=== End Header ===-->

  <!-- Intro Section -->
  <div class="container" style="width:100%; padding: 0;">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
      <!-- Indicators -->
      <ol class="carousel-indicators" >
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

        <div class="item active">
          <div class="ir-banner" id="bg-image1">
            <div class="star-icon" id="star-icon-1-left"><i class="fa fa-star-o"></i></div>
            <div class="star-icon" id="star-icon-1-right"><i class="fa fa-star-o"></i></div>
            <div class="ratio-46" >
              <!--<img alt="Ảnh bìa" src="images/bg1.jpg" />-->
              <div class="bg-black7"></div>
              <div class="home_top_banner">
                <div>
                  <h3 >GROUND-BREAKING IDEAS</h3>
                  <h2></h2>
                  <p>Only innovations and creativity can lead us to the zenith of success.
                    <br><br>
                    We make things differently by the ideas we bring to life.
                  </p>
                  <h1></h1><br>
                  <a href="" class="btn-u btn-brd btn-brd-hover btn-u-light " style="margin-left: 2px;">LEARN MORE</a>
                  <a href="" ng-click="goToExlorer()" class="btn-u btn-brd btn-brd-hover btn-u-light" style="margin-left: 10px">  EXPLORE QTN  </a>
                </div>

              </div>
              <!-- # Home top banner -->
            </div>
            <!-- # ratio-46 -->
          </div>
        </div>

        <div class="item">
          <section class="ir-banner" id="bg-image2">
            <div class="star-icon" id="star-icon-2-left"><i class="fa fa-star"></i></div>
            <div class="star-icon" id="star-icon-2-right"><i class="fa fa-star"></i></div>
            <div class="ratio-46" >
              <!--<img alt="Ảnh bìa" src="images/bg2.jpg" />-->
              <div class="bg-black7"></div>
              <div class="home_top_banner">
                <div>
                  <h3 >NO FEAR OF CHALLENGE</h3>
                  <h2></h2>
                  <p>At QTN, we choose not to receive the fear. Living beyond the line, challenging<br><br>
                    everything to the most is how we develop ourselves any single day.
                  </p>
                  <h1></h1><br>
                  <a href="" class="btn-u btn-brd btn-brd-hover btn-u-light " style="margin-left: 2px;">LEARN MORE</a>
                  <a href="" ng-click="goToExlorer()" class="btn-u btn-brd btn-brd-hover btn-u-light" style="margin-left: 10px">EXPLORE QTN</a>
                </div>
              </div>
              <!-- # Home top banner -->
            </div>
            <!-- # ratio-46 -->
          </section>
        </div>

        <div class="item">
          <section class="ir-banner" id="bg-image3">
            <div class="star-icon" id="star-icon-3-left"><i class="fa fa-star"></i></div>
            <div class="star-icon" id="star-icon-3-right"><i class="fa fa-star"></i></div>
            <div class="ratio-46" >
              <!--<img alt="Ảnh bìa" src="images/bg3.jpg" />-->
              <div class="bg-black7"></div>
              <div class="home_top_banner">
                <div>
                  <h3 >CONTRIBUTION TO COMMUNITY</h3>
                  <h2></h2>
                  <p>Sustainable development comes from bettering the whole society,<br><br>
                    which makes us put a lot of efforts into dedicating the best to surrounding people.
                  </p>
                  <h1></h1><br>
                  <a href="" class="btn-u btn-brd btn-brd-hover btn-u-light " style="margin-left: -19px;">LEARN MORE</a>
                  <a href="" ng-click="goToExlorer()" class="btn-u btn-brd btn-brd-hover btn-u-light" style="margin-left: 10px">EXPLORE QTN</a>
                </div>
              </div>
              <!-- # Home top banner -->
            </div>
            <!-- # ratio-46 -->
          </section>
        </div>

      </div>
      <!--<a class="carousel-control" href="#bnSlider" data-slide="prev"></a>-->
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <!-- End Intro Section -->

  <!--  About Section -->
  <section id="about" class="about-section section-first">
    <div class="block-v1">
      <div class="container">
        <div class="row content-boxes-v3">
          <div class="col-md-4 md-margin-bottom-30">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-lightbulb-o"></i>
            <div class="content-boxes-in-v3">
              <h2 class="heading-sm">CONNECTION</h2>
              <p>At QTN, we support the young to build and maintain long-lasting relationships which are very valuable in their any given days.</p></div>
          </div>
          <div class="col-md-4 md-margin-bottom-30">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-flask"></i>
            <div class="content-boxes-in-v3">
              <h2 class="heading-sm">PASSION</h2>
              <p>QTN is where people figure out, then, follow their lifetime dreams after experiencing our many activities of various fields.</p></div>
          </div>
          <div class="col-md-4">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-bolt"></i>
            <div class="content-boxes-in-v3">
              <h2 class="heading-sm">TALENT</h2>
              <p>Exploring and fostering potential leaders are what QTN does for a sustainable developing generation.</p></div>
          </div>
        </div>
      </div>

      <div class="parallax-quote parallaxBg">
        <div class="container">
          <div class="title-v1">
            <div class="bg-1">
              <h1>WHO WE ARE</h1>
              <p><strong>QTN Global</strong> – Quadralink Talent Network Global – is a <strong>network</strong> connecting global <br>
                young talent for the goal of building sustainable relationships in which they work together and<strong>succeed together</strong> </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container content-lg">
        <div class="title-v1">
          <h2>OUR VISION AND MISSION</h2>
          <p><strong>QTN Global</strong> aims at connecting global talents supporting each other to reach success.</p>
        </div>

        <div class="row">
          <div class="col-md-6 content-boxes-v3 margin-bottom-40">
            <div class="clearfix margin-bottom-30">
              <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-trophy"></i>
              <div class="content-boxes-in-v3">
                <h2 class="heading-sm">GIVING OPENS A WAY TO RECEIVING</h2>
                <p>Human’s nature is prefer to take; however, few people understand we just get the best if we give the best. That is why QTN Global was born to shape people’s mind and activities into right direction.</p>
              </div>
            </div>
            <div class="clearfix margin-bottom-30">
              <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-directions"></i>
              <div class="content-boxes-in-v3">
                <h2 class="heading-sm">CULTIVATING INSTEAD OF HUNTING</h2>
                <p>Durable relationships never come from passers-by.</p></div>
            </div>
            <div class="clearfix margin-bottom-30">
              <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-diamond"></i>
              <div class="content-boxes-in-v3">
                <h2 class="heading-sm">10,000 FLYING HOURS</h2>
                <p>Only after experiencing 10,000 hours of practice can a pilot be an expert, so do almost people. In QTN, there is no inborn genius but normal.</p></div>
            </div>
          </div>
          <div class="col-md-6">
            <img class="img-responsive" src="images/mockup1.png" alt="">
          </div>
        </div>
      </div>

      <div class="parallax-twitter parallaxBg">
        <div class="container parallax-twitter-in">
          <div class="margin-bottom-30">
            <i class="icon-custom rounded-x icon-bg-blue fa fa-twitter"></i>
          </div>

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <ul class="list-unstyled owl-twitter-v1 owl-carousel owl-theme" style="opacity: 1; display: block;">
                <div class="owl-wrapper-outer" id="head-portfolio">
                  <li class="item">
                    <p>  	“Only by giving are you able to receive more than you already have” </p><p>
                    <span>-Jim Rohn -</span>
                  </p></li>
                  <li class="item">
                    <p> 	“Our relationships are heart to heart relationships” </p>
                    <span>– Sri Sathya Sai Baba -</span>
                  </li>
                  <li class="item">
                    <p>“Practice isn't the thing you do once you're good. It's the thing you do that makes you good.” </p>
                    <span>― Malcolm Gladwell -</span>
                  </li></div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  About Section -->

  <!-- Portfolio Section -->
  <section id="portfolio" class="about-section">
    <div class="container content-lg">
      <div class="title-v1">
        <h2>OUR ACTIVITIES</h2>
        <p>Think <strong>different and be different</strong><br>
          We save our very own marks on a rank of activities found nowhere but QTN.</p>
      </div>


      <div class="cube-portfolio">
        <div id="filters-container" class="cbp-l-filters-button">
          <div data-filter="*" class="cbp-filter-item"> WEEKLY MEETING </div>
          <div data-filter=".print" class="cbp-filter-item"> TRAINING COURSE </div>
          <div data-filter=".web-design" class="cbp-filter-item"> EVENT </div>
          <div data-filter=".motion" class="cbp-filter-item"> PROJECT </div>
        </div><!--/end Filters Container-->

        <div id="grid-container" class="cbp-l-grid-gallery cbp cbp-chrome cbp-caption-overlayBottomPush cbp-animation-rotateSides cbp-cols-3 cbp-ready" style="height: 860px;">
          <div class="cbp-wrapper cbp-wrapper-front">
          <div class="cbp-item print motion" style="width: 373px; transform: translate3d(0px, 0px, 0px); opacity: 1;"><div class="cbp-item-wrapper">
            <a href="http://htmlstream.com/preview/unify-v1.7/One-Page/assets/ajax/project1.html" class="cbp-caption cbp-singlePageInline" data-title="World Clock Widget&lt;br&gt;by Paul Flavius Nechita">
              <div class="cbp-caption-defaultWrap">
                <img src="images/1.jpg" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Meetings with experts</div>
                    <div class="cbp-l-caption-desc">by Duy Nguyen</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          </div>
          <div class="cbp-item web-design" style="width: 373px; transform: translate3d(383px, 0px, 0px); opacity: 1;"><div class="cbp-item-wrapper">
            <a href="http://htmlstream.com/preview/unify-v1.7/One-Page/assets/ajax/project2.html" class="cbp-caption cbp-singlePageInline" data-title="Bolt UI&lt;br&gt;by Duy Hung">
              <div class="cbp-caption-defaultWrap">
                <img src="images/2.jpg" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Bolt UI</div>
                    <div class="cbp-l-caption-desc">by Tuan Pham</div>
                  </div>
                </div>
              </div>
            </a>
          </div></div>
          <div class="cbp-item print motion" style="width: 373px; transform: translate3d(766px, 0px, 0px); opacity: 1;"><div class="cbp-item-wrapper">
            <a href="http://htmlstream.com/preview/unify-v1.7/One-Page/assets/ajax/project3.html" class="cbp-caption cbp-singlePageInline" data-title="WhereTO App&lt;br&gt;by Sang Huynhimg src="images/3.jpg" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Connecting games</div>
                    <div class="cbp-l-caption-desc">by Minh Huynh</div>
                  </div>
                </div>
              </div>
            </a>
          </div></div>
          <div class="cbp-item web-design print" style="width: 373px; transform: translate3d(0px, 290px, 0px); opacity: 1;"><div class="cbp-item-wrapper">
            <a href="http://htmlstream.com/preview/unify-v1.7/One-Page/assets/ajax/project4.html" class="cbp-caption cbp-singlePageInline" data-title="iDevices&lt;br&gt;by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap">
                <img src="images/11.jpg" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Web programming</div>
                    <div class="cbp-l-caption-desc">by Sang Nguyen</div>
                  </div>
                </div>
              </div>
            </a>
          </div></div>
          <div class="cbp-item motion" style="width: 373px; transform: translate3d(383px, 290px, 0px); opacity: 1;"><div class="cbp-item-wrapper">
            <a href="http://htmlstream.com/preview/unify-v1.7/One-Page/assets/ajax/project5.html" class="cbp-caption cbp-singlePageInline" data-title="Seemple* Music for iPad&lt;br&gt;by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap">
                <img src="images/5.jpg" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Develop skills</div>
                    <div class="cbp-l-caption-desc">by Ha Minh</div>
                  </div>
                </div>
              </div>
            </a>
          </div></div>
          <div class="cbp-item print motion" style="width: 373px; transform: translate3d(766px, 290px, 0px); opacity: 1;"><div class="cbp-item-wrapper">
            <a href="http://htmlstream.com/preview/unify-v1.7/One-Page/assets/ajax/project6.html" class="cbp-caption cbp-singlePageInline" data-title="Remind~Me Widget&lt;br&gt;by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap">
                <img src="images/6.jpg" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Remind~Me Widget</div>
                    <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                  </div>
                </div>
              </div>
            </a>
          </div></div>
          <div class="cbp-item web-design print" style="width: 373px; transform: translate3d(0px, 580px, 0px); opacity: 1;"><div class="cbp-item-wrapper">
            <a href="http://htmlstream.com/preview/unify-v1.7/One-Page/assets/ajax/project7.html" class="cbp-caption cbp-singlePageInline" data-title="Workout Buddy&lt;br&gt;by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap">
                <img src="images/7.jpg" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Workout Buddy</div>
                    <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                  </div>
                </div>
              </div>
            </a>
          </div></div>
          <div class="cbp-item print" style="width: 373px; transform: translate3d(383px, 580px, 0px); opacity: 1;"><div class="cbp-item-wrapper">
            <a href="http://htmlstream.com/preview/unify-v1.7/One-Page/assets/ajax/project8.html" class="cbp-caption cbp-singlePageInline" data-title="Digital Menu&lt;br&gt;by Vien Nguyen">
              <div class="cbp-caption-defaultWrap">
                <img src="images/8.jpg" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Digital Menu</div>
                    <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                  </div>
                </div>
              </div>
            </a>
          </div></div>
          <div class="cbp-item motion" style="width: 373px; transform: translate3d(766px, 580px, 0px); opacity: 1;"><div class="cbp-item-wrapper">
            <a href="http://htmlstream.com/preview/unify-v1.7/One-Page/assets/ajax/project9.html" class="cbp-caption cbp-singlePageInline" data-title="Holiday Selector&lt;br&gt;by Cosmin Capitanu">
              <div class="cbp-caption-defaultWrap">
                <img src="images/4.jpg" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Survival skills</div>
                    <div class="cbp-l-caption-desc">by Tram Le</div>
                  </div>
                </div>
              </div>
            </a>
          </div></div>
        </div>
        </div>


          <div class="cbp-l-loadMore-button">
          <a href="http://htmlstream.com/preview/unify-v1.7/One-Page/assets/ajax/loadMore.html" class="cbp-l-loadMore-button-link">LOAD MORE</a>
        </div>
      </div>
    </div>

    <div class="clients-section parallaxBg">
      <div class="container">
        <div class="title-v1">
          <h2>Our Partners</h2>
        </div>
        <ul class="owl-clients-v2 owl-carousel owl-theme" style="opacity: 1; display: block;">
          <div class="owl-wrapper-outer" id="our-client">
            <li class="item"><a href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#"><img src="images/qtnglobal.png" alt=""></a></li>
            <li class="item"><a href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#"><img src="images/iris4life.png" alt=""></a></li>
            <li class="item"><a href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#"><img src="images/lungvang.jpg" alt=""></a></li>
            <li class="item"><a href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#"><img src="images/emirates.png" alt=""></a></li>
            <li class="item"><a href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#"><img src="images/baderbrau.png" alt=""></a></li>
            <li class="item"><a href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#"><img src="images/inspiring.png" alt=""></a></li>
          </div>

          <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div></div></div></ul>
      </div>
    </div>

  </section>
  <!-- End Portfolio Section -->

  <!-- Services Section -->
  <section id="services">
    <div class="container content-lg">
      <div class="title-v1">
        <h2>OUR SERVICES</h2>
        <p>“If you are good at something, never do it for free!” <br>
          Only when our members can stand on their own feet by their goods that they are grow up.</p>
      </div>

      <ul class="list-unstyled row portfolio-box-v1">
        <li class="col-sm-4">
          <img class="img-responsive" src="images/img1.jpg" alt="">
          <div class="portfolio-box-v1-in">
            <h3>HEAD-HUNTERS</h3>
            <p>As a house of talents, QTN gathers young potentials all over the world, which gives us chances to bring the most suitable people to worthy places.</p>
            <a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#">Read More</a>
          </div>
        </li>
        <li class="col-sm-4">
          <img class="img-responsive" src="images/img2.jpg" alt="">
          <div class="portfolio-box-v1-in">
            <h3>TEAMBUILDING</h3>
            <p>Experiencing many years in organizing teambuilding, we confidently affirm to meet the demands of any hardest customers.</p>
            <a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#">Read More</a>
          </div>
        </li>
        <li class="col-sm-4">
          <img class="img-responsive" src="images/img4.jpg" alt="">
          <div class="portfolio-box-v1-in">
            <h3>EVENT PLANNING</h3>
            <p>For QTN, holding an event is not just to arrange things together, but to convey full meanings to attendees.</p>
            <a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#">Read More</a>
          </div>
        </li>
      </ul>

      <div class="call-action-v1">
        <div class="container">
          <div class="call-action-v1-box">
            <p><strong>QTN Global</strong> is for talent to be found, dream to be followed and life to be glorious.<br>
              Join us now so you can try these!</p>
            <div class="call-action-v1-in inner-btn page-scroll">
              <a class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block">Sign up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- services Section -->
  <section id="news" class="news-section">
    <div class="container content-lg">
      <div class="title-v1">
        <h2>WHY QTN?</h2>
        <p>QTN is not the one, but the unique.For years, we have created <br>
          a place where learning, playing and making money can go together on the base of durable relationships.</p> </div>

      <div class="row news-v1">
        <div class="col-md-4 md-margin-bottom-40">
          <div class="news-v1-in">
            <img class="img-responsive" src="images/img1(1).jpg" alt="">
            <h3><a href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#">The place you need to develop yourself is QTN</a></h3>
            <p>Any QTNer is given with tools, opportunities and environment suffice for them to find out who they are, what are their dreams and what they need to reach the peak of their both career and daily life.</p>
            <ul class="list-inline news-v1-info">
              <li><span>By</span> <a href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#">Kathy Reyes</a></li>
              <li>|</li>
              <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
              <li class="pull-right"><a href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#"><i class="fa fa-comments-o"></i> 14</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 md-margin-bottom-40">
          <div class="news-v1-in">
            <img class="img-responsive" src="images/img4(1).png" alt="">
            <h3><a href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#">Nowhere can you build more durable relationships than QTN</a></h3>
            <p>Relationship is one of things deriving QTN different from other organizations. For QTN, “no one is an island, entire of itself”, so to be a part of QTN is to join our very strong and empowered network connecting a variety of people from all walks of life.</p><ul class="list-inline news-v1-info">
            <li><span>By</span> <a href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#">John Clarck</a></li>
            <li>|</li>
            <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
            <li class="pull-right"><a href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#"><i class="fa fa-comments-o"></i> 07</a></li>
          </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="news-v1-in">
            <img class="img-responsive" src="images/img3.jpg" alt="">
            <h3><a href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#">QTNers live with their dreams</a></h3>
            <p>We set a place for all ambitions to be grown and developed, thus, we make best opportunities for QTNers to keep and live with their dreams even in their career and personal life.</p><ul class="list-inline news-v1-info">
            <li><span>By</span> <a href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#">Tina Kruiger</a></li>
            <li>|</li>
            <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
            <li class="pull-right"><a href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#"><i class="fa fa-comments-o"></i> 22</a></li>
          </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container content-lg">
      <div class="title-v1">
        <h2>HOW TO BE A PART?</h2>
        <p>We are a home of diversity, difference and challenge</p></br>
        No matter who you are, what you do or where you live, you are welcome in QTN</p></div>
      <div class="row service-box-v1">
        <div class="col-md-4 col-sm-6">
          <div class="service-block service-block-default">
            <i class="icon-custom icon-lg icon-bg-u rounded-x fa fa-lightbulb-o"></i>
            <h2 class="heading-md">When signing up an account on our website, you can:</h2>
            <p></p>
            <ul class="list-unstyled">
              <li>Receive lasted news</li>
              <li>Find online free courses</li>
              <li>Update projects, events</li>
              <li>Follow successful QTNers</li>
              <li>Contact with other users</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-block service-block-default">
            <i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-present"></i>
            <h2 class="heading-sm">You can register to be a QTNer, then, if accepted, joining a suitable chapter and:</h2>
            <p></p>
            <ul class="list-unstyled">
              <li>Explore profiles of QTN members</li>
              <li>Earn badges for your online CVs</li>
              <li>Launch your own events and projects</li>
              <li>Be followed by other users</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="service-block service-block-default">
            <i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-rocket"></i>
            <h2 class="heading-sm">By registering to open a new Chapter, you can</h2>
            <p></p>
            <ul class="list-unstyled">
              <li>Call for attendance from users</li>
              <li>Implement QTN Global’s activities</li>
              <li>Create Chapter’s own activities</li>
              <li>Receive supports from other QTN Global</li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End News Section -->

  <!-- Contact Section -->
  <section id="contact" class="contacts-section">
    <div class="container content-lg">
      <div class="title-v1">
        <h2>Contact Us</h2>
        <p>Send us if you have any question</p>
      </div>

      <div class="row contacts-in">
        <div class="col-md-6 md-margin-bottom-40">
          <ul class="list-unstyled">
            <li><i class="fa fa-home"></i> 300 Vo Nguyen Giap street, Da Nang city, Viet Nam</li>
            <li><i class="fa fa-phone"></i> +84 (0511) 655 6999</li>
            <li><i class="fa fa-envelope"></i> <a href="http://htmlstream.com/preview/unify-v1.7/One-Page/info@example.com">admin@qtnglobal.org</a></li>
            <li><i class="fa fa-globe"></i> <a href="http://htmlstream.com/">www.qtnglobal.org</a></li>
          </ul>
        </div>

        <div class="col-md-6">
          <form action="http://htmlstream.com/preview/unify-v1.7/One-Page/assets/php/sky-forms-pro/demo-contacts-process.php" method="post" id="sky-form3" class="sky-form contact-style" novalidate="novalidate">
            <fieldset>
              <label>Name</label>
              <div class="row">
                <div class="col-md-7 margin-bottom-20 col-md-offset-0">
                  <div>
                    <input type="text" name="name" id="name" class="form-control"/>
                  </div>
                </div>
              </div>

              <label>Email <span class="color-red">*</span></label>
              <div class="row">
                <div class="col-md-7 margin-bottom-20 col-md-offset-0">
                  <div>
                    <input type="text" name="email" id="email" class="form-control"/>
                  </div>
                </div>
              </div>

              <label>Message</label>
              <div class="row">
                <div class="col-md-11 margin-bottom-20 col-md-offset-0">
                  <div>
                    <textarea rows="8" name="message" id="message" class="form-control"></textarea>
                  </div>
                </div>
              </div>

              <p><button type="submit" class="btn-u btn-brd btn-brd-hover btn-u-dark">Send Message</button></p>
            </fieldset>

            <div class="message">
              <i class="rounded-x fa fa-check"></i>
              <p>Your message was successfully sent!</p>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="copyright-section" style="color: #555">
      <p>2015 © All Rights Reserved. QTN Theme by <a target="_blank" href="https://www.facebook.com/qtnglobal?fref=ts">Silicon Chapter</a></p>
      <ul class="social-icons">
        <li><a href="https://www.facebook.com/qtnglobal?fref=ts" data-original-title="Facebook" class="social_facebook rounded-x"></a></li>
        <li><a href="https://www.facebook.com/qtnglobal?fref=ts" data-original-title="Twitter" class="social_twitter rounded-x"></a></li>
        <li><a href="https://www.facebook.com/qtnglobal?fref=ts" data-original-title="Goole Plus" class="social_google-plus rounded-x"></a></li>
        <li><a href="https://www.facebook.com/qtnglobal?fref=ts" data-original-title="Linkedin" class="social_linkedin rounded-x"></a></li>
      </ul>
    </div>
  </section>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.animateNumber.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.cubeportfolio.min.js"></script>
<script src="js/loadmore.js"></script>
<script>

  $(document).ready(function() {

    $("#head-portfolio").owlCarousel({

      autoPlay: 3000, //Set AutoPlay to 3 seconds

      items : 1,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]

    });

  });

</script>
<script>

  $(document).ready(function() {

    var owl = $("#our-client");

    owl.owlCarousel({
      autoPlay: 3000,
      items : 5, //10 items above 1000px browser width
      itemsDesktop : [1000,5], //5 items between 1000px and 901px
      itemsDesktopSmall : [900,3], // betweem 900px and 601px
      itemsTablet: [600,2], //2 items between 600 and 0
      itemsMobile : false // itemsMobile disabled - inherit from itemsTablet option
    });

    // Custom Navigation Events

  });

</script>
<script>

  $(document).ready(function() {

    $("#guest-comment").owlCarousel({

      navigation : true, // Show next and prev buttons
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem:true

      // "singleItem:true" is a shortcut for:
      // items : 1,
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false

    });

  });

</script>
<script src="js/one.app.js"></script>
<script>
  jQuery(document).ready(function() {
    App.init();
    App.initCounter();
    App.initParallaxBg();
  });
</script>
</body>
</html>
